
::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

html {
	color: #fff;
	font: 17px/1.4 'Menlo',sans-serif;
	text-align: center;
}

body {
	background-color: #2f3135;
}

h1 {
	font-size: 3em;
	line-height: 1.2em;
	margin: 0 .5em .75em;
	text-shadow: 2px 2px #333;
	padding: 42px 0;
	color: #666;
}

.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 10px;
}

.description {
    color: #2f3135;
    font-size: 1.2em;
}

.logo {
    height: 450px;
    position: relative;
}

.box {
	font-family: Menlo;
	font-size: 480px;
	font-weight: 700;
	overflow: hidden;
	display: inline;
}

#right{
    position: absolute;
    color: #771bff;
    left: 360px;
    top: 100px;
}

.active #right{
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotate-right 3s infinite ease-out forwards;

}

@-webkit-keyframes rotate-right {
    0% 
    {
        transform: rotate(0deg);
    }
    10%   
    { 
        transform: rotate(30deg);
    }
    20%   
    { 
        transform: rotate(60deg);
    }
    30%   
    { 
        transform: rotate(90deg);
    }
    40% 
    { 
        transform: rotate(120deg);
    }
    50% 
    { 
        transform: rotate(150deg);
    }
    60%   
    { 
        transform: rotate(180deg);
    }
    70%   
    { 
        transform: rotate(210deg);
    }
    80%   
    { 
        transform: rotate(240deg);
    }
    90% 
    { 
        transform: rotate(270deg);
    }
    100% 
    { 
        transform: rotate(300deg);
    }
}

.active #left{
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotate-left 3s infinite ease-out forwards;
}

#left{
    position: absolute;
    color: #552793;
    left: 135px;
    top: 100px;
}


@-webkit-keyframes rotate-left {
    0%   
    { 
        transform: rotate(0deg);
    }
    10%   
    { 
        transform: rotate(-30deg);
    }
    20%   
    { 
        transform: rotate(-60deg);
    }
    30%   
    { 
        transform: rotate(-90deg);
    }
    40% 
    { 
        transform: rotate(-120deg);
    }
    50% 
    { 
        transform: rotate(-150deg);
    }
    60%   
    { 
        transform: rotate(-180deg);
    }
    70%   
    { 
        transform: rotate(-210deg);
    }
    80%   
    { 
        transform: rotate(-240deg);
    }
    90% 
    { 
        transform: rotate(-270deg);
    }
    100% 
    { 
        transform: rotate(-300deg);
    }
}