
::-moz-selection {
background: #b3d4fc;
text-shadow: none;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

html {
	color: #fff;
	font: 17px/1.4 'Menlo',sans-serif;
	text-align: center;
}

body {
	background-color: #2f3135;
}

h1 {
	font-size: 3em;
	line-height: 1.2em;
	margin: 0 .5em .75em;
	text-shadow: 2px 2px #333;
	padding: 42px 0;
	color: #666;
}

.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 10px;
}

.description {
    color: #2f3135;
    font-size: 1.2em;
}

.logo {
    height: 450px;
    position: relative;
}

.box {
	font-family: Menlo;
	font-size: 500px;
	font-weight: 700;
	overflow: hidden;
	display: inline;
}



#right{
    position: absolute;
    color: #771bff;
    left: 370px;
    top: -90px;
    -webkit-transform-origin: 49% 52%;
    -webkit-transform: rotate(30deg); 
    -moz-transform-origin: 49% 52%;
    -moz-transform: rotate(30deg);

    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
  	
    -webkit-animation-duration: 2s;
    -webkit-animation-name: rotate-right;
    -moz-animation-duration: 2s;
    -moz-animation-name: rotate-right;
}

@-webkit-keyframes rotate-right {
    0%   
    { 
        transform: rotate(30deg);
    }
    20%   
    { 
        transform: rotate(90deg);
    }
    40%   
    { 
        transform: rotate(150deg);
    }
    60%   
    { 
        transform: rotate(210deg);
    }
    80% 
    { 
        transform: rotate(270deg);
    }
    100% 
    { 
        transform: rotate(330deg);
    }
}

#left{
    position: absolute;
    color: #552793;
    left: 135px;
    top: -90px;
    
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
 
    -webkit-transform-origin: 49% 52%;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: rotate-left;
    -moz-animation-duration: 2s;
    -moz-animation-name: rotate-left;
}

@-webkit-keyframes rotate-left {
    0%   
    { 
        transform: rotate(0deg);
    }
    20%   
    { 
        transform: rotate(-60deg);
    }
    40%   
    { 
        transform: rotate(-120deg);
    }
    60%   
    { 
        transform: rotate(-180deg);
    }
    80% 
    { 
        transform: rotate(-240deg);
    }
    100% 
    { 
        transform: rotate(-300deg);
    }
}